<div class="row">
  <div class="col-6">
    <button routerLink="/login" class="btn btn-success btn-block tst4">
      login
    </button>
  </div>

  <div class="col-6">
    <button routerLink="/register" class="btn btn-success btn-block">
      registro
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button (click)="back()" class="btn btn-success btn-block">
      Volver
    </button>
  </div>
  
</div>
                                                               

                                                               