<!-- Footer -->
<footer class="footer bg-footer text-footer" style="clear: both;" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left " style="margin-bottom: -50px;" >
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase text-footer"> JMC Iluminación</h5>
          <p class="m-t-15" >Una empresa dedicada a la compra y venta de productos de iluminación dispuesta a brindar la mejor calidad de servicio.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase text-footer">Contacto</h5>
  
            <ul class="list-unstyled">
              <li class="m-t-15">
                <p > <i class="fa fa-envelope-o m-r-5"></i> jorge.maureira.c@gmail.com </p>
              </li>
  
              <hr class="hr-footer">
  
              <li class="m-t-15">
                <p > <i class="mdi mdi-whatsapp m-r-5"></i> +569 7565 4243 </p>
              </li>
  
              <hr class="hr-footer">
  
              <li class="m-t-15">
                <p > <i class="mdi mdi-map-marker m-r-5"></i> Salomón Sack 892, Independencia  Santiago </p>
              </li>
  
              <hr>
  
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase text-footer">Algunos de nuestros Productos</h5>
  
            <ul class="list-unstyled">
              <li class="m-t-15">
                <p > <i class="mdi mdi-lightbulb-on-outline m-r-5"></i> Interior/Exterior </p>
              </li>
  
              <hr class="hr-footer">
  
              <li class="m-t-15">
                <p > <i class="mdi mdi-led-outline m-r-5"></i> Iluminaria LED </p>
              </li>
  
              <hr class="hr-footer">
  
              <li class="m-t-15">
                <p > <i class="mdi mdi-weather-sunny m-r-5"></i> Paneles Solares </p>
              </li> 
              
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
      
    </div>
    <!-- Footer Links -->
    
    <!-- Copyright -->
    <hr class="hr-footer">
  
    <div class="footer-copyright text-center py-3" style="margin-top: -25px; margin-bottom: 0px;">
      © {{ year }} Copyright 
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

<!-- <footer class="footer bg-footer text-footer"> 

  <div class="containter-fluid text-center text-md-left">

    <div class="row">
      <div class="col md-6">
        <h5 class="text uppercase text-footer">JMC Iluminación</h5>
      </div>
    </div>
    <div class="row" >
        © 2017 Admin Pro by wrappixel.com
    </div>
  </div>
  
</footer> -->