<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<style>
  .margenes {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
</style>

<div id="main-wrapper"  >

    <app-header-client></app-header-client>
  
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper margenes" >
      
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid" style="margin-top: -65px; margin-bottom: 365px;" >

            <!-- ============================================================== -->
            <!-- Start Content  -->
            <!-- ============================================================== -->
            <!-- <div class="col-12"> -->
            <router-outlet></router-outlet>
          <!-- </div> -->
            <!-- ============================================================== -->
            <!-- End Content  -->
            <!-- ============================================================== -->

          </div>
          <!-- ============================================================== -->
          <!-- End Container fluid  -->
          <!-- ============================================================== -->
          
          
          
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        
        
        <!-- <app-footer-client></app-footer-client> -->
        
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
      