<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<style>
  .margenes {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
</style>

<div id="main-wrapper">

    <app-header></app-header>
  
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper margenes">
      
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Start Content  -->
            <!-- ============================================================== -->
            
            <router-outlet></router-outlet>
            
            <!-- ============================================================== -->
            <!-- End Content  -->
            <!-- ============================================================== -->

            
          </div>
          <!-- ============================================================== -->
          <!-- End Container fluid  -->
          <!-- ============================================================== -->

      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
  

  
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
