<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
       
        <div class="text-right">
          <button type="button" (click)="crearProducto()" class="btn btn-info btn-rounded"><i class="fa fa-plus"></i> Nuevo Producto</button>
        </div>
        <h3 class="card-title">Catálogo de Productos inscritos</h3>

        <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
        <div class="table-responsive m-t-40">
          <table class="display table full-color-table full-inverse-table hover-table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="text-center">Imagen</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">SubCategoria</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Precio unitario</th>
                <th class="text-center">Info</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos" >
                <td class="text-center" style="width: 50px;" >
                  <span class="round" style="background-color: transparent" > <img [src]="producto.img | image" width="50"  > </span>
                </td>
                <td class="text-center"> {{ producto.nombre }} </td>
                <td class="text-center"> {{ producto.subcategoria.nombre }} </td>
                <td class="text-center"> {{ producto.marca.nombre }} </td>
                <td class="text-center"> $ {{ producto.precio_unitario | number }} </td>
                <td class="text-center">
                    <button type="button" class="btn btn-secondary btn-rounded" (click)="_modalCreateProducto.mostrardetalle(producto)" >
                        <i class="fa fa-plus"></i> &nbsp; Ver detalles
                    </button>
                    <div id="responsive-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" style="display: none; overflow-y: auto;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Información de producto: </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">Person Info</h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">First Name:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> John </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Last Name:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Doe </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Gender:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Male </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Gender:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Male </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Date of Birth:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> 11/06/1987 </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Category:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Category1 </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Membership:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Free </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <h3 class="box-title">Address</h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Address:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> E104, Dharti-2, Near silverstar mall </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">City:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Bhavnagar </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">State:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> Gujarat </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Post Code:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> 457890 </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Country:</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"> India </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                            </div>
                                            <!-- <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button type="submit" class="btn btn-danger"> <i class="fa fa-pencil"></i> Edit</button>
                                                                <button type="button" class="btn btn-inverse">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"> </div>
                                                </div>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Cerrar</button>
                                    <!-- <button type="button" class="btn btn-danger waves-effect waves-light">Save changes</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <a href="javascript:void(0)">
                      <i style="font-size: 25px" class="fa fa-pencil m-r-10"></i>
                    </a>                    
                    <a href="javascript:void(0)" (click)="eliminarProducto(producto)" >
                      <i style="font-size: 25px" class="fa fa-trash-o text-danger"></i>
                    </a>
                </td>
              </tr>       
            </tbody>          
          </table>
        </div>

        <!-- Navegación -->
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-split m-t-30 justify-content-end">
            <li class="page-item">
              <a class="page-link" (click)="goPage(desde-1)" aria-label="Previous" *ngIf="desde !== 0" >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of paginas" [ngClass]="{'active': desde === page}" >
              <a class="page-link pointer" (click)="goPage(page)"> {{ page + 1 }} </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="goPage(desde+1)" aria-label="Next" *ngIf="desde !== paginas.length-1" >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
  

<!-- Modal detalles de producto -->


