<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios inscritos</h4>
        <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
        <div class="table-responsive m-t-40">
          <table class="display table full-color-table full-inverse-table hover-table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="text-center">Nombre/Empresa</th>
                <th class="text-center">Email</th>
                <th class="text-center">Auth</th>
                <th class="text-center">Rol</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Fecha de modificación</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" >
                <td class="text-center"> {{ user.name }}</td>
                <td class="text-center"> {{ user.email }} </td>
                <td class="text-center">                    
                  <label *ngIf="user.google" class="label label-danger">Google</label>
                  <label *ngIf="!user.google" class="label label-info">Google</label>
                </td>
                <td class="text-center">                    
                  <p *ngIf="user.role === 'ADMIN_ROLE'" >Administrador</p>
                  <p *ngIf="user.role === 'USER_ROLE'" >Usuario</p>
                </td>                                            
                <td class="text-center"> {{ user.created_at | date:"dd/MM/yyyy, HH:mm" }} </td>
                <td class="text-center"> {{ user.updated_at | date:"dd/MM/yyyy, HH:mm" }} </td>
                <td class="text-center">
                    <a href="javascript:void(0)" (click)="mostrarModal(user)">
                      <i style="font-size: 25px" class="fa fa-pencil m-r-10"></i>
                    </a>                    
                    <a href="javascript:void(0)" (click)="confirmarEliminar(user)" >
                      <i style="font-size: 25px" class="fa fa-trash-o text-danger"></i>
                    </a>
                </td>
              </tr>       
            </tbody>          
          </table>
        </div>

        <!-- Navegación -->
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-split m-t-30 justify-content-end">
            <li class="page-item">
              <a class="page-link" (click)="goPage(desde-1)" aria-label="Previous" *ngIf="desde !== 0" >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of paginas" [ngClass]="{'active': desde === page}" >
              <a class="page-link pointer" (click)="goPage(page)"> {{ page + 1 }} </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="goPage(desde+1)" aria-label="Next" *ngIf="desde !== paginas.length-1" >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
  
