<div class="row animated fadeIn" *ngIf="producto" >
    <div class="col-lg-9 col-sm-12" >
    <div class="card ">
        <div class="card-body">
            <form #form ngNativeValidate (ngSubmit)="guardarCambios()" class="form-horizontal">
                <div class="form-body">
                    <h3 class="box-title">Formulario edición de producto: {{ producto.nombre }}</h3>
                    <hr class="m-t-0 m-b-40">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-4">Nombre</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-4">Precio</label>
                                <div class="col-md-8">
                                    <input type="Number" class="form-control" [(ngModel)]="producto.precio_unitario" name="precio_unitario" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-4">Sub categoria </label>
                                <div class="col-md-8">
                                    <select class="form-control custom-select" [(ngModel)]="producto.subcategoria" name="subcategoria" (change)="onChange(producto.subcategoria)">
                                        <option [value]="subcategoria._id" *ngFor="let subcategoria of subcategorias" > {{ subcategoria.nombre }} </option>
                                    </select>
                                    <small class="form-control-feedback"> Actual:  {{ current_sub }} </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-4">Categoria</label>
                                <div class="col-md-8">
                                    <p> {{ categoria }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-4">Marca</label>
                                <div class="col-md-8">
                                    <select class="form-control custom-select" [(ngModel)]="producto.marca" name="marca">
                                        <option [value]="marca._id" *ngFor="let marca of marcas" > {{ marca.nombre }} </option>
                                    </select>
                                    <small class="form-control-feedback"> Actual:  {{ current_marca }} </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-t-0 m-b-40">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Voltaje</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.voltaje" name="voltaje" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Vida Útil</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.vida_util" name="vida_util" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Potencia</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.potencia" name="potencia" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Grado Protección</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.grado_proteccion" name="grado_proteccion" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Temperatura</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.temperatura" name="temperatura" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-5">Flujo Luminoso</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.flujo_luminoso" name="flujo_luminoso" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                Medidas
                            </h5>
                            <hr class="m-t-0 m-b-40" style="margin-bottom: 15px;">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="control-label text-right col-md-5">Largo</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.medidas.largo" name="largo" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="control-label text-right col-md-5">Alto</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.medidas.altura" name="altura" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="control-label text-right col-md-5">Ancho</label>
                                <div class="col-md-7">
                                    <input [(ngModel)]="producto.medidas.ancho" name="ancho" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">Descripción</h5>
                        </div>
                        <div class="col-md-12">
                            <textarea [(ngModel)]="producto.descripcion" name="descripcion" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-info">Confirmar</button>
                            <button type="button" (click)="location.back()" class="btn btn-inverse">Volver</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    <div class="col-lg-3 col-sm-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Imagen del producto</h4>
                        <img [src]="producto.img | image"  style="position:relative; width: 100%; min-height: 1px; max-height: 230px;" >
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cambiar imagen</h4>
                        <input #inputFile type="file" id="input-file-now" (change)="seleccion( $event.target.files[0] )" class="dropify" />
                        <a (click)="recargar()" class="pointer text-center " style="padding: 15px;"> <h5>Si no aparece cuadro draggable click aquí</h5> </a>
                        <button class="btn btn-block btn-info" (click)="subirImagen()" [disabled]="!imagen" >
                            Actualizar imagen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
