<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>
  
    <app-sidebar></app-sidebar>
  
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
  
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
  
          <app-breadcrumbs></app-breadcrumbs>
  
  
          <!-- ============================================================== -->
          <!-- Start Content  -->
          <!-- ============================================================== -->
          
          <router-outlet></router-outlet>
          
          <!-- ============================================================== -->
          <!-- End Content  -->
          <!-- ============================================================== -->
  
          
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
  
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<!-- Modal update user -->
<app-update-user></app-update-user>
<!-- Modal crear producto -->
<app-create-producto></app-create-producto>
<!-- Modal ver cotizacion -->
<app-view-cotizacion></app-view-cotizacion>