
<div class="fondo-negro animated fadeIn" [ngClass]="_modalCreateProducto.oculto" >

    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" style="display: block; padding-right: 17px;" >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Formulario de inscripción de producto</h4>
            <button type="button" class="close" aria-hidden="true" (click)="cerrarModal()">×</button>
          </div>
          <div class="modal-body">
            <form #form="ngForm" ngNativeValidate (ngSubmit)="crearProducto()" class="form-material m-t-40 row" style="margin-top: 5px" >
              <!-- primera linea -->
                <div class="form-group col-md-6 m-t-20"> Nombre <span class="text-danger"> * </span>
                    <input type="text" class="form-control form-control-line">
                </div>
                <div class="form-group col-md-6 m-t-20"> Subcategoria <span class="text-danger"> * </span>
                    <input type="email" id="example-email2" name="example-email" class="form-control" > 
                </div>
              <!-- segunda linea -->
                <div class="form-group col-md-4 m-t-20"> Marca <span class="text-danger"> * </span>
                    <input type="text" class="form-control form-control-line">
                  </div>
                <div class="form-group col-md-4 m-t-20"> Precio unitario <span class="text-danger"> * </span>
                    <input type="email" id="example-email2" name="example-email" class="form-control" >
                  </div>
                <div class="form-group col-md-4 m-t-20"> Voltaje
                    <input type="text" class="form-control" >
                </div>
              <!-- tercera linea -->
                <div class="form-group col-md-3 m-t-20"> Flujo Luminoso
                    <input type="text" class="form-control" > </div>
                <div class="form-group col-md-3 m-t-20">Medidas
                    <select class="form-control"> 
                        <option>col-md-3</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group col-md-3 m-t-20"> Medidas
                    <input type="text"  class="form-control form-control-line"> </div>

              <!-- descripcion -->
                <div class="form-group col-md-12 m-t-20">
                    <label>Descripción</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger waves-effect waves-light" >Crear producto</button>
                    <button (click)="cerrarModal()" type="button" class="btn btn-default waves-effect">Cerrar</button>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>